SECRET=MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgHShFrcdGShoFmHgMgq+0/evsvwo90Vt/vpMGAUuJn7HbnZKf/ZX9xkcSYoVIanLYBZAODptyy0z5fxZc4xDsVUv8ILt189JUt808KGWfV070qrzVXM+op7MBqqAd79UjBranXfuDDEkR9ISUO/5vDkukjDYv/gYx9vMHIC4BgFLAgMBAAE=
MONGODB_URL="mongodb+srv://apimusica:031188rm@cluster0.f9rmy.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"